/* You can add global styles to this file, and also import other style files */
body {
    font-family: Georgia;
    color: white;
    background-image: url("assets/spacebackground.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.listHeadings {
    text-align: center;
    border: 2px solid white;
}